# Changes in HbA1c Levels During COVID-19

This notebook describes trends and deviations in HbA1c test results during the COVID-19 pandemic at large and by specific demographic groups. In particular, I report the mean of test results by month.

In [138]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [139]:
# Import function
def import_df(f_path):
    df = pd.read_csv("../output/{}.csv".format(f_path))
    # Create percent of population
    df['pct'] = df['value']*100
    df['year'] = df['date'].apply(lambda x: x[:4])
    return df

In [140]:
# Dataframes
df_pop = import_df('measure_hba1c_abnormal')
df_dm = import_df('measure_hba1c_abnormal_by_diabetes_type')
df_sex = import_df('measure_hba1c_abnormal_by_sex')
df_age = import_df('measure_hba1c_abnormal_by_age')
df_region = import_df('measure_hba1c_abnormal_by_region')
df_imd = import_df('measure_hba1c_abnormal_by_imd')

## Abnormal Results (Means by Year)

In [141]:
def mean_abnormal(df,measure):
    df_mean = pd.DataFrame(df.groupby(['year', measure])['hba1c_abnormal'].mean()).reset_index()
    df_mean.sort_values([measure, 'year'], inplace = True)

    df_mean['pct_ch'] = (df_mean.groupby(measure)['hba1c_abnormal'].apply(pd.Series.pct_change)) * 100

    return df_mean.reset_index(drop=True)

In [142]:
# Diabetes type
mean_abnormal(df_dm, 'diabetes_type')

    year diabetes_type  hba1c_abnormal     pct_ch
0   2019         NO_DM      447.666667        NaN
1   2020         NO_DM      462.250000   3.257632
2   2021         NO_DM      453.500000  -1.892915
3   2019          T1DM       16.181818        NaN
4   2020          T1DM       18.250000  12.780899
5   2021          T1DM       17.333333  -5.022831
6   2019          T2DM      117.583333        NaN
7   2020          T2DM      119.833333   1.913536
8   2021          T2DM      121.000000   0.973574
9   2019    UNKNOWN_DM       12.272727        NaN
10  2020    UNKNOWN_DM       12.833333   4.567901
11  2021    UNKNOWN_DM       12.833333   0.000000

In [143]:
# Sex
mean_abnormal(df_sex, 'sex')

   year sex  hba1c_abnormal    pct_ch
0  2019   F      297.333333       NaN
1  2020   F      308.833333  3.867713
2  2021   F      300.333333 -2.752294
3  2019   M      295.916667       NaN
4  2020   M      304.333333  2.844269
5  2021   M      304.333333  0.000000

In [144]:
# Age
mean_abnormal(df_age, 'age_group')

    year age_group  hba1c_abnormal     pct_ch
0   2019      0-19      122.000000        NaN
1   2020      0-19      119.583333  -1.980874
2   2021      0-19      125.833333   5.226481
3   2019     20-29       62.666667        NaN
4   2020     20-29       56.000000 -10.638298
5   2021     20-29       56.166667   0.297619
6   2019     30-39       59.583333        NaN
7   2020     30-39       64.166667   7.692308
8   2021     30-39       61.666667  -3.896104
9   2019     40-49       90.083333        NaN
10  2020     40-49       93.500000   3.792784
11  2021     40-49       85.500000  -8.556150
12  2019     50-59       58.083333        NaN
13  2020     50-59       62.666667   7.890961
14  2021     50-59       65.166667   3.989362
15  2019     60-69       58.583333        NaN
16  2020     60-69       58.583333   0.000000
17  2021     60-69       61.666667   5.263158
18  2019     70-79       58.166667        NaN
19  2020     70-79       64.000000  10.028653
20  2021     70-79       58.333333  -8.854167
21  2019       80+       71.750000        NaN
22  2020       80+       83.666667  16.608595
23  2021       80+       78.500000  -6.175299
24  2019   missing       12.333333        NaN
25  2020   missing       12.454545   0.982801
26  2021   missing       11.833333  -4.987835

In [145]:
# Age
mean_abnormal(df_region, 'region')

    year                    region  hba1c_abnormal     pct_ch
0   2019             East Midlands       46.583333        NaN
1   2020             East Midlands       47.500000   1.967800
2   2021             East Midlands       49.333333   3.859649
3   2019           East of England       47.416667        NaN
4   2020           East of England       50.083333   5.623902
5   2021           East of England       47.333333  -5.490849
6   2019                    London       96.166667        NaN
7   2020                    London      101.416667   5.459272
8   2021                    London       94.000000  -7.313065
9   2019                North East       44.750000        NaN
10  2020                North East       46.250000   3.351955
11  2021                North East       53.333333  15.315315
12  2019                North West       46.416667        NaN
13  2020                North West       48.583333   4.667864
14  2021                North West       49.333333   1.543739
15  2019                South East       97.000000        NaN
16  2020                South East       98.666667   1.718213
17  2021                South East       97.166667  -1.520270
18  2019             West Midlands       50.916667        NaN
19  2020             West Midlands       51.916667   1.963993
20  2021             West Midlands       44.500000 -14.285714
21  2019  Yorkshire and the Humber       48.916667        NaN
22  2020  Yorkshire and the Humber       48.250000  -1.362862
23  2021  Yorkshire and the Humber       50.666667   5.008636

In [146]:
# IMD 
mean_abnormal(df_imd, 'imd')

    year  imd  hba1c_abnormal     pct_ch
0   2019    0        8.625000        NaN
1   2020    0        8.857143   2.691511
2   2021    0        7.250000 -18.145161
3   2019    1      119.200000        NaN
4   2020    1      118.636364  -0.472849
5   2021    1      121.333333   2.273308
6   2019    2      121.333333        NaN
7   2020    2      119.300000  -1.675824
8   2021    2      119.666667   0.307348
9   2019    3      119.272727        NaN
10  2020    3      129.818182   8.841463
11  2021    3      120.000000  -7.563025
12  2019    4      120.272727        NaN
13  2020    4      122.333333   1.713278
14  2021    4      121.166667  -0.953678
15  2019    5      110.750000        NaN
16  2020    5      119.909091   8.270060
17  2021    5      119.250000  -0.549659

# Rates per Thousand